@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    /* Typografi */
    --text: "montserrat", sans-serif;
    --h1_text: "bungee", sans-serif;

    /* Farver
    --primary: #fc653a;
    --secondary: #62ada2;
    --bgcolor: #fee3d6;
    --grey: #272727;
    --sort: #000000;
    --hvid: #ffffff;
    --txtcolor: #292828; */

    /* Farver */
    --primary: #20ba83;
    --secondary: #fbf27f;
    --bgcolor: #fcfcdc;
    --grey: #272727;
    --sort: #000000;
    --hvid: #ffffff;
    --txtcolor: #292828;
    --yellow: #fbf27f;

    /* Sizes */
    --font_h1: clamp(3rem, 1.6591rem + 1.4545vw, 2.75rem);
    --font_h2: clamp(2rem, 1.6591rem + 1.4545vw, 2.75rem);
    --font_h3: 2.188rem;
    --font_h4: clamp(1.6rem, 1.5091rem + 0.3879vw, 1.8rem);
    --font_h5: 1.3rem;
    --font_b: 1.625rem;
    --font_bl: 1.375rem;
    --font_nav: 2.3rem;
    --font_knap: 1, 188rem;

    /* border-radius */
    --border-radius-sm: 15px;
    --border-radius-md: 20px;

    /* Spacing */
    --spacing-10: 0.625rem;
    --spacing-15: 0.9375rem;
    --spacing-20: 1.25rem;
    --spacing-30: 1.875rem;
    --spacing-40: 2.5rem;
    --spacing-80: 5rem;

    /* Aliases */
    --heading-display: var(--heading-font-size-lg);
  }

  #hero {
    background: rgb(251, 242, 127);
    background: linear-gradient(
      180deg,
      rgba(251, 242, 127, 1) 0%,
      rgba(252, 252, 220, 1) 100%
    );
  }

  #single_view {
    background-image: url("img/10.webp");
    background-size: cover;
  }
  /* Basic css */

  /* img,
video,
iframe,
audio {
  max-width: 100%;
  height: auto;
} */

  * {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--text);
    color: var(--txtcolor);
  }

  main {
    max-width: 42rem;
    margin: auto;
  }

  #logo {
    width: 50px;
    height: 50px;
  }

  #footer {
    max-width: 56rem;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  body {
    background-color: var(--bgcolor);
    --weight-regurlar: 400;
    margin-left: 30px;
    margin-right: 30px;
  }

  section {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  /* Skrift */

  h1 {
    font-family: var(--h1_text);
    font-size: var(--font_h1);
    font-weight: 800;
    color: var(--primary);
  }

  h2 {
    font-size: var(--font_h2);
    font-weight: 200;
    color: var(--primary);
  }

  h3 {
    font-size: var(--font_h3);
    font-weight: 100;
  }

  h4 {
    font-size: var(--font_h4);
    font-weight: 100;
  }

  h5 {
    font-size: var(--font_h5);
    font-weight: 600;
  }

  p {
    font-size: var(--font-b);
    font-weight: 100;
  }

  a:hover {
    text-decoration: underline;
  }

  button {
    background-color: var(--primary);
    border-radius: var(--border-radius-md);
    color: black;
    font-size: var(--font_knap);
    padding: 10px 45px;
    border-style: none;
    text-align: center;
  }

  /* Header start */

  #header {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 0vh;
    justify-content: space-between;
    z-index: 10;
    position: relative;
    top: -25%;
    left: 1%;
  }

  .menuknap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid gray; */
    grid-column: 2;
    z-index: 10;
  }

  .menuknap_burger {
    width: 30px;
    height: 2px;
    background: #231709;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menuknap_burger::before,
  .menuknap_burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #231709;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menuknap_burger::before {
    transform: translateY(-10px);
  }

  .menuknap_burger::after {
    transform: translateY(10px);
  }

  /* -----header animation---- */

  .menuknap.open .menuknap_burger {
    transform: translateX(50px);
    background: transparent;
  }

  .menuknap.open .menuknap_burger::before {
    transform: rotate(45deg) translate(-35px, 35px);
  }

  .menuknap.open .menuknap_burger::after {
    transform: rotate(-45deg) translate(-35px, -35px);
  }

  .hidden1 {
    opacity: 0;
    transform: translateY(-100vw);
  }

  .hidden2 {
    display: none;
  }

  .show {
    display: block;
  }

  .fade {
    opacity: 10%;
  }

  #menu {
    list-style-type: none;
    transition: transform 0.3s;
    background-color: var(--yellow);
    text-align: right;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0;
    right: -1%;
    width: 15rem;
    padding-top: 5rem;
    z-index: 0;
    height: 70vh;
    margin-top: 10px;
  }

  #menu li {
    margin-top: 0.5rem;
    background-color: #ffffffa8;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
  }

  #menu li a {
    margin-right: 2rem;
  }

  .kort {
    background-image: url("img/map2little.webp");
    background-size: cover;
  }
}
